apiVersion: v1
kind: Service
metadata:
  name: health-checks
  labels:
    app: health-checks
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: health-checks

