apiVersion: v1
kind: Service
metadata:
  name: secret-rotation
  labels:
    app: secret-rotation
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: secret-rotation

