apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - service-monitor.yaml

commonLabels:
  app: hpa-custom-metrics
  project: k8sbox


