apiVersion: v1
kind: Service
metadata:
  name: hpa-custom-metrics
  labels:
    app: hpa-custom-metrics
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: hpa-custom-metrics


