apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: applications.platform.k8sbox.io
  labels:
    app: custom-operator
spec:
  group: platform.k8sbox.io
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                replicas:
                  type: integer
                  minimum: 0
                  default: 1
                image:
                  type: string
                port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                  default: 80
                env:
                  type: object
                  additionalProperties:
                    type: string
              required:
                - image
                - port
            status:
              type: object
              properties:
                status:
                  type: string
                message:
                  type: string
                lastReconciledAt:
                  type: string
                  format: date-time
                observedGeneration:
                  type: integer
      subresources:
        status: {}
  scope: Namespaced
  names:
    plural: applications
    singular: application
    kind: Application
    shortNames:
      - app

