apiVersion: v1
kind: Service
metadata:
  name: custom-operator
  labels:
    app: custom-operator
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: custom-operator

